{% extends "base.html" %}
{% block title %}addhost{% endblock %}
{% block content %}
    <ol class="breadcrumb">
  				<li><a href="#">系统信息</a></li>
  				<li><a href="#">主机列表</a></li>
  				<li class="active">主机</li>
				</ol>
    <div class="container form-group-lg" style="width: 500px;">
  			<form method="post" action="/addhost/" name="addhost">
				<div>
					<div class="form-group">
						<h3><span style="color: #3c3c3c">添加主机</span></h3>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="主机名" name="hostname">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="主机IP"  name="hostip">
					</div>
                    <div class="form-group">
                        <span>分组：</span>
                        <select id="group_select" class="form-control" name="group_name">
                            <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>子分组：</span>
                        <select id="sub_group_select" class="form-control" name="group_name_sub">
                            <option></option>
                        </select>
                    </div>
					<div>
						<button class="btn" type="submit">提交</button>
					</div>
				</div>
  			</form>
    {% if sucess %}
        <h3><span style="color: #5bc0de">{{ sucess }}</span></h3>
    {% endif %}
    </div>
{% endblock %}
{% block myjs %}
    <script type="text/javascript">
            $.post("/listgroup/",
                    function (data, status) {
                        data = $.parseJSON(data);
                        $("#group_select").empty();
                        for (var key in data) {
                            $("#group_select").append("<option value=" + key + ">" + key + "</option>");
                        };
                    });
            $("#group_select").change(function(){
                $.post("/listgroup/",
                        function(data,status){
                            data = $.parseJSON(data);
                            $("#sub_group_select").empty();
                            for (var key in data){
                                if  ($("#group_select").val()==key){
                                    for (var i in data[key]['group_name_sub']) {
                                        $("#sub_group_select").append(" <option value=" + data[key]['group_name_sub'][i] + ">" + data[key]['group_name_sub'][i] + "</option>");
                                    }
                            break;
                                }
                            }
                });
            });
    </script>
{% endblock %}
