<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        #cebianlan{
            width: 20%;
            margin-top: 5px;
            z-index: 1;
            height: 600px;
            float: left;
        }
        #context_id{
            margin: auto;
            width: 1600px;
        }
    </style>
</head>
<body>
<!--导航-->
<nav class="nav navbar-default navbar-static-top">
    <div class="navbar-header">
        <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-home" style="margin-right: 8px;"></span>&nbsp;网站后台管理</a>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 25px;">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span><span class="badge" style="margin-left: 8px;">{{ username }}</span></a></li>
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span>&nbsp;注销</a></li>
    </ul>
</nav>
<!--侧边栏-->
<div id="context_id" class="clearfix">
    <div class="navbar-default navbar-collapse" id="cebianlan" >
        <ul class="nav">
            <li>
                <!--搜索-->
                <div class="input-group">
                    <input type="text" class="form-control" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
							</span>
                </div>
            </li>
            <li>
                <a href="#sub1" data-toggle="collapse">主机管理<span class="glyphicon  glyphicon-menu-down pull-right"></span></a>
                <ul id="sub1" class="nav collapse">
                    <li><a href="/listhost/">主机列表</a></li>
                    <li><a href="/addhost/">添加主机</a></li>
                    <li><a href="/listgroup/">分组列表</a></li>
                    <li><a href="/addgroup/">添加分组</a></li>
                </ul>
            </li>
            <li>
                <a href="#sub2" data-toggle="collapse">配置管理<span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                <ul id="sub2" class="nav collapse">
                    <li><a href="/upload/">上传文件</a></li>
                    <li><a href="/add_config_file/">添加配置文件</a></li>
                    <li><a href="/list_config_file/">配置文件列表</a></li>
                </ul>
            </li>
            <li>
                <a href="#sub3" data-toggle="collapse">用户管理<span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                <ul id="sub3" class="nav collapse">
                    <li><a href="#">用户列表</a></li>
                    <li><a href="#">添加用户</a></li>
                    <li><a href="#">删除用户</a></li>
                    <li><a href="#">修改用户</a></li>
                </ul>
            </li>
            <li>
                <a href="#sub4" data-toggle="collapse">日志功能<span class="glyphicon glyphicon-menu-down pull-right"></span></a>
                <ul id="sub4" class="nav collapse">
                    <li><a href="#">系统信息</a></li>
                    <li><a href="#">管理员管理</a></li>
                    <li><a href="#">日志信息</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="float:left;margin: auto; width: 80%;" >
        {% block content %}{% endblock %}
    </div>
</div>
{% block modal %}{% endblock %}
<div style="text-align: center;"><span>网站底部</span></div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block myjs %}{% endblock %}
</body>
</html>
