{% extends "base.html" %}
{% block title %}grouplist{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">系统信息</a></li>
        <li><a href="#">主机列表</a></li>
        <li class="active">主机</li>
    </ol>
    <form method="POST" action="/listgroup/" class="form-inline" name="listgroup">
        <select class="form-control" name="seachtype">
            <option value="group_name">组名</option>
        </select>
        <div class="input-group">
            <input type="text" class="form-control" name="seachcontent"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
							</span>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>行号</th>
            <th>分组名</th>
            <th>子分组名</th>
            <th>添加分组</th>
        </tr>
        </thead>
        <tbody>
        {% for key,values in grouplist.items %}
            <tr>
                <td>
                    <div id="id">{{ forloop.counter }}</div>
                </td>
                <td>
                    <div id="group_name">{{ key }}</div>
                </td>
                <td>
                    {% for i in values.group_name_sub %}
                    <div id="group_name_sub">{{ i }}</div>
                     {% endfor %}
                </td>
                <td>
                    <button id="add_sub_group" type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">添加子分组</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button id="deletegroup" type="button" class="btn btn-default">删除分组</button>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加子分组</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal bs-example bs-example-form" action="/add_sub_group/" method="post">
                        <div class="form-group">
                            <label for="inputgroupname" class="col-sm-3 control-label">分组名：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputgroupname" readonly placeholder="分组名" name="inputgroupname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputsubgroupname" class="col-sm-3 control-label">子分组名：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputsubgroupname" placeholder="子分组名" name="inputsubgroupname">
                            </div>
                        </div>
                        <div class="form-group modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block myjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("button[id*='add_sub_group']").click(function () {
                value1 = $(this).parent().parent().find('#group_name').text()
                $("#inputgroupname").val(value1)
            });
        });
    </script>
{% endblock %}
