{% extends "base.html" %}
{% block title %}hostlist{% endblock %}
{% block content %}
                <ol class="breadcrumb">
  				<li><a href="#">系统信息</a></li>
  				<li><a href="#">主机列表</a></li>
  				<li class="active">主机</li>
				</ol>
                <form  method="POST" action="/listhost/" class="form-inline" name="hostlist">
                    <select class="form-control" name="seachtype">
                        <option value="hostip">主机IP</option>
                        <option value="hostname">主机名</option>
                    </select>
                    <div class="input-group">
							<input type="text" class="form-control"  name="seachcontent"/>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
                    </div>
                </form>
				<table class="table table-hover">
    			<thead>
      			<tr>
          		<th>主机IP</th>
          		<th>主机名</th>
          		<th>主机信息</th>
          		<th>是否勾选</th>
      			</tr>
    			</thead>
    			<tbody>
                {% for host in hostlist %}
                <tr>
             	<td>
                <div id="hostip">{{ host.hostip }}</div>
              </td>
              <td>
                <div id="hostname">{{ host.hostname }}</div>
              </td>
              <td>
                <button id="restarttomcat" type="submit" class="btn btn-default" >主机信息</button>
              </td>
              <td>
                  <input type="checkbox" class="blankCheckbox" value="1" >
              </td>
                </tr>
                {% endfor %}
    			</tbody>
				</table>
    <button id="deletehost" type="button" class="btn btn-default">删除主机</button>
{% endblock %}
{% block myjs %}
<script type="text/javascript">
var aArray={}
$(document).ready(function(){
    $("#deletehost").click(function() {
        $("input.blankCheckbox").each( function(i,e){
            if($(this).is(':checked'))
                    aArray[i]=$(this).parent().parent().find('#hostip').text()
        });
        $.post("/deletehost/",{
            hostip:aArray
        },
        function(data,status){
            if (status='Sucess')
                alert("删除主机OK");
        });
    });
});
</script>
{% endblock %}