{% extends "base.html" %}
{% block title %}上传文件{% endblock %}
{% block content %}
    <ol class="breadcrumb">
  				<li><a href="#">系统信息</a></li>
  				<li><a href="#">主机列表</a></li>
  				<li class="active">主机</li>
				</ol>
    <div class="container form-group-lg" style="width: 500px;">
  			<form method="post" action="/upload/"  enctype="multipart/form-data">
				<div>
					<div class="form-group">
						<h3><span style="color: #3c3c3c">上传文件</span></h3>
					</div>
                    <div class="form-group">
						<input type="text" class="form-control" placeholder="文件名" name="name">
					</div>
					<div class="form-group">
						<input type="file" class="" placeholder="上传文件包" name="file">
					</div>
					<div>
						<button class="btn" type="submit">上传</button>
					</div>
				</div>
  			</form>
    {% if sucess %}
        <h3><span style="color: #5bc0de">{{ sucess }}</span></h3>
    {% endif %}
    </div>
{% endblock %}